/* Ensures the form container is centered in the viewport */
.address-form-container {
  background-color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%; /* Ensures it takes full width of its parent */
  max-width: 400px; /* Adjust as needed for the maximum width of the container */
  height: 120vh;
  margin: 0px auto; /* Centers the container horizontally */
}

.address-form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
  width: 100%; /* Ensures header takes full width of container */
  margin-bottom: 10px; /* Spacing between header and form */
}

.close-btn {
  display: block;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensures the form takes full width of the container */
}

.input-row {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column; /* Stacks input fields vertically */
  margin-bottom: 0px; /* Spacing between input rows */
}

.input-group {
  margin-bottom: 15px; /* Spacing between input groups */
}

.input-group label {
  display: block; /* Ensures label takes full width */
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensures input takes full width of the input-group */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn{
  padding: 23px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
