@import '~@fortawesome/fontawesome-free/css/all.min.css';

header {
    max-width: 1800px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #dee2e6;
}

.logo {
    font-size: 17px;
    font-weight: bold;
    background-color: black;
    color: #fff;
    padding: 18px 15px;
    width: 100px;
    cursor: pointer;
}

.logo .fa-shopping-cart {
    color: red;
    margin-left: 5px;
}

.search-container {
    display: flex;
    align-items: center;
    flex-grow: 0.6;
    margin: 0 20px;
    position: relative;
}

.search-container input {
    flex-grow: 1;
    width: 100px;
    padding: 14px 14px 14px 40px; /* Add padding-left for the icon */
    border: 1px solid #dee2e6;
    border-radius: 15px;
    background-color: #f0f0f0; /* Gray background */
    color: #000; /* Black text color */
}

.search-container .fas.fa-search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.search-button {
    margin-left: 20px;
    padding: 12px;
    width: 90px;
    border: none;
    background-color: #fff;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

.search-button:hover {
    background-color: #2e2d2d;
}

.cart-button {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 35px;
    cursor: pointer;
    background-color: transparent;
    color: #333;
}

.cart-button:hover {
    background-color: transparent;  /*Remove hover background */
}

.cart-count {
    position: absolute;
    top: -4px;
    right: 15px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    min-width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    margin-top: 0px;
    background-color: black;
    padding: 5px 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    border-radius: 5px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-list li {
    margin: 0 10px;
}

.nav-button {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    display: flex;
    align-items: center; /* Align icon and text vertically */
}

.nav-button .nav-icon {
    margin-left: 8px; /* Space between text and icon */
    color: #fff; /* White icon color */
}

.nav-button:hover {
    background-color: #495057;
    border-radius: 4px;
}

button .icon-location {
    color: #fff;
    display: block;
    font-size: 30px;
    width: 100px;
}

@media (max-width: 768px) {
    .search-container {
        margin: 0 10px;
    }

    .cart-button {
        padding: 1px;
        font-size: 35px;
    }
    .cart-count{
        font-size: 15px;
        top: -20px;
        right: 8px;
    }
    .logo{
        width: 100px;
        padding: 10px 2px;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-list li {
        margin: 10px 0;
    }
}
