body {
    height: fit-content;
    width: 100%;
    margin: 0;
    align-items: center; 
}

.confirmation-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 20px;  
    height: 70vh;
}

.confirmation-content {
    text-align: center;
    justify-content: center;
}

.checkmark-icon {
    font-size: 100px;
    color: black;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

p {
    margin: 10px 0;
    font-size: 18px;
}

.home-btn {
    padding: 15px 30px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.home-btn:hover {
    background: #333;
}

@media (max-width: 600px) {
    .confirmation-container {
      padding: 10px; 
    }
  
    .checkmark-icon {
      font-size: 80px; 
      margin-bottom: 10px; 
    }
  
    h2 {
      font-size: 20px; 
    }
  
    p {
      font-size: 16px; 
    }
  
    .home-btn {
      padding: 12px 24px; 
      font-size: 14px; 
      margin-top: 15px; 
    }
  }
  