.shopping-cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.home {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 0px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 60%;
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;

}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 30vh;
  border-bottom: 1px solid #e0e0e0;
}

.product-image {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-left: 0px;
}

.item-title {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 30px;
  color: rgb(8, 103, 134);
}

.add-min {
  display: flex;
  align-items: center;
  border: 1px solid lightblue;
  width: 120px;
  height: 40px;
  justify-content: space-around;
  margin-top: 100px;
}

.btn {
  background-color: #ffff;
  border-radius: 0;
  color: rgb(102, 167, 189);
  width: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 28px;
}

.quantity {
  font-size: 16px;
  font-weight: 500;
  border: 1px solid lightblue;
  width: 50px;
  text-align: center;
  color: rgb(24, 182, 235);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
  padding: 0;
}

.summary {
  width: 60%;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.smr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.smr h2 {
  font-size: 18px;
}

.summary-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sub-total {
  font-size: 16px;
}

.checkout-btn {
  background-color: #f0c14b;
  border: 1px solid #a88734;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.pay {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.payment-methods img {
  justify-content: space-around;
  width: 50px;
  height: auto;
  margin: 20px;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .items-container {
    width: 100%;
  }

  .item {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .product-image {
    width: 80px;
    height: 80px;
  }

  .item-details {
    padding-left: 0;
    text-align: center;
  }

  .item-title {
    font-size: 18px;
  }

  .add-min {
    width: 100px;
    margin: 0 auto;
  }

  .price {
    font-size: 14px;
  }

  .summary {
    margin-top: 10px;
  }
}
